@model  List<Airline>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Airlines</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Callsign</th>
        <th>Country</th>
        <th>Name</th>
    </tr>
    @foreach (var airline in Model)
    {
        <tr>
            <td>@airline.Id</td>
            <td>@airline.Callsign</td>
            <td>@airline.Country</td>
            <td>@airline.Name</td>
        </tr>
    }
</table>
